HTTPP_ROVIDER = https://ropsten.infura.io/faF0xSQUt0ezsDFYglOe
ENV = ropsten
PORT = 8088
VERSION = 1
CLIENT_ID = 641541086056936449
SECRET_KEY = i7XJTOjAcEFu2YowtF49U07bMdRAK9gIQRrBfCAL

NANJ_HOST = staging.nanjcoin.com
PATH_RELAYTX = /api/relayTX
PATH_RAWTX = /api/raw-transaction
BASIC_AUTH = ''

ADDRESS_META_NANJ_MANAGER = 0x8801307aec8ed852ea23d3d4e69f475f4f2dcb6e
ADDRESS_NANJCOIN_TEST = 0xf7afb89bef39905ba47f3877e588815004f7c861
TXRELAY_ADDRESS = 0x7e861e36332693f271c66bdab40cda255a50d005
ADDRESS_NANJ_FOUNDER=0xf0f8b5948cf868bba11737b8289525ccbd89be60